
    *{
        box-sizing: border-box;
    }
body {
    background-color: #2f3136;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
}

.box {
    width: 200px;
    height: 50px;
    background-color: #4a4a4a;
    border: 2px solid #292b2f;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.box:hover {
    background-color: #3a3a3a;
    font-weight: bold;
    transform: scale(1.05);
}

.text-boxes {
    margin-left: 20px;
}

.text-box {
    display: none;
    background-color: #4a4a4a;
    border: 2px solid #292b2f;
    padding: 20px;
    max-width: 400px;
    user-select: none; /* Blockierung der Text Kopie*/
}
.text-box::selection {
    background: transparent; /* Blockierung der Text Kopie*/
}
.text-box:active{
    cursor: not-allowed;
}
.text-box.active {
    display: block;
    animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 500px;
        opacity: 1;
    }
}


.copy-button {
    margin-top: 10px;
    margin-left: 10px; /* Abstand vom Text */
    padding: 10px 20px;
    background-color: #2a6bf6;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.copy-button:hover {
    background-color: #11388b;
}

.counter {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #ccc;
}

#downloadButton {
    margin-top: 20px; 
    padding: 10px 20px;
    background-color: #2a6bf6;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: absolute;
    top: 10px; 
    right: 10px; 
}

#resetButton {
    margin-top: 20px; 
    padding: 10px 20px;
    margin-right: 50px;
    background-color: #2a6bf6;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: absolute;
    top: 10px; 
    right: 120px; 
}

#downloadButton:hover, #resetButton:hover {
    background-color: #4caf50;
}

#downloadButton:active, #resetButton:active {
    cursor: wait;
}
h1.überschrift{
   font-size: 35px;
   color:white;
   margin: 10px;
}
p.texte{
    font-size: 18px;
    color:white;
    margin: 10px;

}
hr.linie{
    border: 2px solid;
    border-color: white;
    border-radius: 20px;
 
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 26
}
.wrapper{
    position: absolute;
    bottom: 30px;
    left: 30px;
    background-color: #ffffff;
    max-width: 365px;
    border-radius: 15px;
    color: black;
    text-align: center;
    padding: 25px 25px 30px 25px;
}
.wrapper.hide{
    opacity: 0;
    visibility: hidden;
    transition: all 0.3 ease;
}
.wrapper .content{
    margin-top: 10px;
}
.content header{
    font-size: 25px;
    font-weight: 600;
}
.content p {
    color: #858585;
    margin: 5px 0 20px 0;
}
.content .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons .item{
    margin: 0 10px;
}
.buttons button{
    padding: 10px 20px;
    background: #2a6bf6;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
}
.buttons a{
    color: #2a6bf6;
}
.icons-download, .icons-reset{
    width: 30px;  
    height: 30px; 
}